@media (min-width: 1200px) {
  .container-xl-wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
  .container-md-wrapper {
    padding-left: 47.5px;
    padding-right: 47.5px;
  }
  .container-l-wrapper {
    padding-left: 27.5px;
    padding-right: 27.5px;
  }
}
